{% extends 'base.html' %}
{% block content %}
  <h3>Alterar minha senha</h3>
  <br>
  <form class="form form-horizontal" action="/change_password_author/" method="post">{% csrf_token %}
    <table>
      <tr>
        <td>Senha antiga</td>
        <td>{{change_password_form.old_password}}</td>
      </tr>
      <tr>
        <td>Nova senha</td>
        <td>{{change_password_form.password}}</td>
      </tr>
      <tr>
        <td>Confirmar nova senha</td>
        <td>{{change_password_form.confirm_password}}</td>
      </tr>
    </table>
    <button inpunt class="btn btn-sucess">Salvar Alterações</button>
  </form>
{% endblock %}
